 <p>&nbsp;</p>
 
  <h2>Trait creation Error log</h2>
  
<table style="width:100%;border-collapse:collapse;align:left">
  <tr>
    <th style="border:1px solid black;">DateTime</th>
    <th style="border:1px solid black;">Region</th> 
    <th style="border:1px solid black;">Market</th>
    <th style="border:1px solid black;">Campaign Name</th>
    <th style="border:1px solid black;">Campaign ID</th>
    <th style="border:1px solid black;">Trait Name</th>
    <th style="border:1px solid black;">AAM Response</th>
  </tr>


