  <h2>Trait creation Success report</h2>
<p>This is an automated alert. Do not reply to this email</p>
<table style="width:100%;border-collapse:collapse;align:left">
  <tr>
    <th style="border:1px solid black;">DateTime</th>
    <th style="border:1px solid black;">Region</th> 
    <th style="border:1px solid black;">Advertiser</th>
    <th style="border:1px solid black;">Market</th>
    <th style="border:1px solid black;">Campaign Name</th>
    <th style="border:1px solid black;">Campaign ID</th>
    <th style="border:1px solid black;">Trait Name</th>
    <th style="border:1px solid black;">Trait Link</th>
    <th style="border:1px solid black;">AAM Response</th>
  </tr>


